* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #232531;
}

.navbar {
    display:flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #232531;
    color: white;
}

.nav-title {
    font-size: 2.5rem;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
}
.nav-title span{
    color: #e12836;
}

.nav-links {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 1.2rem;
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.nav-links li:hover a{
    color: #e12836;
    transition: 0.3s;
    text-decoration: underline;
}

.toggle-button {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.home{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
margin: 10rem 5rem 5rem 5rem;
}
.home:hover{
    cursor: default;
}
.left-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.home-heading{
    font-size: 4.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 1.8rem 0rem;
}
.home-heading span{
    color: #e12836;
}
.home-para{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
}
.right-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-home img{
    width: 100%;
    height: 100%;
    border: 0.5rem solid white;
    border-radius: 5%;
}
.section-heading{
    color: #e12836;
    margin: 3.5rem 0rem 0.5rem 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    display: inline-block;
}
.section-heading:hover{
    text-decoration: underline;
    color: white;
    transition: 1s;
}
.query{
    margin:2rem 0rem;
}
.query ul li{
    list-style: none;
    margin:0;
}
.ques{
    color: #e12836;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin:0;
}
.ans{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin:0.5rem 0rem;
}
.sponsor-grid{
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.sponsor p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin:2.5rem 2.5rem;
}
.sponsor-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.sponsor-item img{
    width: 100%;
    height: 100%;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}
@media (max-width: 600px) {
    .sponsor-grid{
        display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    }
    .home{
        margin:0;   
    }
    .home-heading{
        font-size: 2.5rem;
    }
    .home-para{
        font-size: 1.2rem;
    }
   
}
@media (max-width: 980px) {
    .home{
        display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    }
    .left-home{
        align-items: center;
    }
}